In [11]:
data_panen = {
    'lokasi1': {
        'nama_lokasi': 'Kebun A',
        'hasil_panen': {
            'padi': 1200,
            'jagung': 800,
            'kedelai': 500
        }
    },
    'lokasi2': {
        'nama_lokasi': 'Kebun B',
        'hasil_panen': {
            'padi': 1500,
            'jagung': 900,
            'kedelai': 450
        }
    },
    'lokasi3': {
        'nama_lokasi': 'Kebun C',
        'hasil_panen': {
            'padi': 1100,
            'jagung': 750,
            'kedelai': 600
        }
    },
    'lokasi4': {
        'nama_lokasi': 'Kebun D',
        'hasil_panen': {
            'padi': 1300,
            'jagung': 850,
            'kedelai': 550
        }
    },
    'lokasi5': {
        'nama_lokasi': 'Kebun E',
        'hasil_panen': {
            'padi': 1400,
            'jagung': 950,
            'kedelai': 480
        }
    }
}

In [12]:
import pandas as pd
df = pd.DataFrame(data_panen)

df

,lokasi1,lokasi2,lokasi3,lokasi4,lokasi5
nama_lokasi,Kebun A,Kebun B,Kebun C,Kebun D,Kebun E
hasil_panen,"{'padi': 1200, 'jagung': 800, 'kedelai': 500}","{'padi': 1500, 'jagung': 900, 'kedelai': 450}","{'padi': 1100, 'jagung': 750, 'kedelai': 600}","{'padi': 1300, 'jagung': 850, 'kedelai': 550}","{'padi': 1400, 'jagung': 950, 'kedelai': 480}"

In [13]:
jumlah_jagung = df.loc['hasil_panen', 'lokasi2']['jagung']

print(f"Jumlah hasil panen jagung dari lokasi2 adalah: {jumlah_jagung}")

Jumlah hasil panen jagung dari lokasi2 adalah: 900

In [14]:
nama_lokasi_3 = df['lokasi3']['nama_lokasi']

print(f"Nama lokasi dari lokasi3 adalah: {nama_lokasi_3}")

Nama lokasi dari lokasi3 adalah: Kebun C

In [15]:
hasil_panen_dict = df.loc['hasil_panen']

padi_per_lokasi = hasil_panen_dict.apply(lambda x: x['padi'])

kedelai_per_lokasi = hasil_panen_dict.apply(lambda x: x['kedelai'])

print("Hasil Panen Padi per Lokasi (padi_per_lokasi)")
print(padi_per_lokasi)

print("\nHasil Panen Kedelai per Lokasi (kedelai_per_lokasi)")
print(kedelai_per_lokasi)

Hasil Panen Padi per Lokasi (padi_per_lokasi)
lokasi1    1200
lokasi2    1500
lokasi3    1100
lokasi4    1300
lokasi5    1400
Name: hasil_panen, dtype: int64

Hasil Panen Kedelai per Lokasi (kedelai_per_lokasi)
lokasi1    500
lokasi2    450
lokasi3    600
lokasi4    550
lokasi5    480
Name: hasil_panen, dtype: int64

In [16]:
print("Hasil Analisis Kondisi Lokasi:")

for lokasi_key in df.columns:
    
    nama_lokasi = df[lokasi_key]['nama_lokasi']
    
    hasil = df[lokasi_key]['hasil_panen']
    padi = hasil['padi']
    jagung = hasil['jagung']
    
    if padi > 1300 or jagung > 800:
        status = "memerlukan perhatian khusus"
        keterangan = f"(Padi: {padi}, Jagung: {jagung})"
        print(f"ðŸ”´ {nama_lokasi} ({lokasi_key}) {status} {keterangan}")
    else:
        status = "dalam kondisi baik"
        keterangan = f"(Padi: {padi}, Jagung: {jagung})"
        print(f"ðŸŸ¢ {nama_lokasi} ({lokasi_key}) {status}. {keterangan}")

Hasil Analisis Kondisi Lokasi:
ðŸŸ¢ Kebun A (lokasi1) dalam kondisi baik. (Padi: 1200, Jagung: 800)
ðŸ”´ Kebun B (lokasi2) memerlukan perhatian khusus (Padi: 1500, Jagung: 900)
ðŸŸ¢ Kebun C (lokasi3) dalam kondisi baik. (Padi: 1100, Jagung: 750)
ðŸ”´ Kebun D (lokasi4) memerlukan perhatian khusus (Padi: 1300, Jagung: 850)
ðŸ”´ Kebun E (lokasi5) memerlukan perhatian khusus (Padi: 1400, Jagung: 950)